.titre {
	margin: 10px;
	padding: 20px;
	justify-content: center;
	text-align-last: center;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.one {
  grid-column: 1 / 2;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
}

.one ul {
	padding-left: 10px;
}
.two {
  grid-column: 2 / 3;
  grid-row: 1 / 4;
  border: solid black 1px;
}
.passions {
  text-align-last: center;
  margin: 30px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}
.passions img {
  width: 130px;
}
.three {
  grid-column: 1;
  grid-row: 2 / 4;
  border: solid black 1px;
}
.Réseaux {
  display: flex;
  justify-content: space-around;
  text-align-last: center;
  margin-top: 10px;
}
.Réseaux img {
  width: 120px;
}
.four {
  grid-column: 1 / 3;
  grid-row: 4;
}

.four ul {
  text-align-last: center;
}

img {
	border-radius: 10px;
}

h2 {
	text-align-last: center;
	font-weight: 600;
	margin: 5px;
  padding-top: 30px;
}

ul {
	padding: 20px;
	margin: 5px;
}

li {
	margin: 5px;
	padding: 2px;
}

body {
  font-size: 30px;
  background-color: grey;
  font-family: "Helvetica", sans-serif;  
}

h1 {
  font-family: "Helvetica", sans-serif;
  font-size: xxx-large;
  font-weight: 600;
}


@media (max-device-width: 760px){
  .titre {
    padding: 50px;
  }
  .cards {
    display: block; 
    padding: 20px;
  }
  .cards h2 {
    padding: 40px;
  }
  .one {
    flex-direction: column;
    font-size: 40px;
    text-align-last: center;
  }
  .one img {
    width: 300px;
  }
  .two {
    border: none;

  }
  .passions {
    display: block;
  }
  .passions img {
    width: 200px;
    margin: 20px;
  }
  .Réseaux img {
    width: 200px;
  }
  .four {
    font-size: 17px;
  }
}
